
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }


body { font-family:Helvetica, Arial, sans-serif;
  background-color: ##ebe8e8;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/**---HEADER---**/

#main {
  background: url(images/backrground_02.gif) repeat-x;
}

header{
  padding-top: 70px;
}

#logo {
  background: url(images/storywhite.png) no-repeat;
  height: 84px;
  width: 235px;
  float:left;
}

#logo h1 {
  text-indent: -9999px;
}

#tagline {
  float: left;
  padding-top: 12px;
  padding-left: 28px;
}

#tagline h3 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

/**-- #menu ul {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 50px;
}

#menu ul li {
    float: left;
    padding-right: 30px;
    padding-left:30px;
}

#menu ul li a {
  font-weight: lighter;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
} --**/

#menu ul {
    list-style-type: none;
    margin: 0;
    padding-top: 16px;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f4f4f4;
}


/**---CONTENT---**/

#content h2 {
    font-size: 36px;
    font-weight: lighter;
    color: #015878;
    padding-top: 25px;
}

#content h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content h4 {
    font-size: 18px;
    color: #373737;
    font-weight: normal;
}

#content p {
    font-size: 14px;
    color: #595858;
    padding-top: 20px;
}

#content small {
    font-size: 12px;
    color: #373737;
}

#content a {
    color: #0f6c8d;
    font-weight: bold;
    text-decoration: none;
}

/**--NEWS--**/

#news {
  padding-top: 10px;
}

#news h3 {
  padding-bottom: 10px;
}

#news p {
  padding-top: 10px;
  padding-bottom: 14px;
}

/**---TWEE KOLOMMEN---**/

#content {
    width: 510px;
    float: left;
}

#sidebar {
    float: left;
    margin-left: 55px;
    margin-top: 35px;
    background: #d9f3fc;
    padding: 15px 15px 35px 15px;
    border-radius: 10px;
}

/**---Sidebar---**/
#sidebar h3 {
    font-size: 24px;
    color: #044055;
    font-weight: normal;
    padding-bottom: 20px;
    padding-left: 15px;
}

#sidebar ul {
    list-style: none;
    padding-bottom: 25px;
}

#sidebar ul li a {
    font-size: 14px;
    color: #FFFFFF;
}

#sidebar ul li a:hover {
  color: #267fa0;
}

#popular ul li {
  color: #FFFFFF;
}

#subscribe ul li {
    padding-bottom: 5px;
    padding-left: 35px;
}

#subscribe ul li a {
    font-size: 16px;
}

#contributors {
  margin-bottom: 10px;
}

/*-ICONEN-*/


li#facebook {
    background: url(images/facebook.png) no-repeat;

}

li#linkedin {
    background: url(images/linkedin.png) no-repeat;

}

li#twitter {
    background: url(images/twitter.png) no-repeat;

}

/**---BUTTON---**/

a.button {
    color: #393838;
    text-decoration: none;
    background: #5ec2e7;
    margin-left: 20px;
    padding: 13px 23px;
    border-radius: 10px;
}

a.button:hover {
  color: white;
  background: #267fa0;
}

/**--FOOTER--**/

footer {
    background: url(images/backrground_12.gif) repeat-x;
    padding-top: 20px;
    padding-bottom:60px;
    margin-top: 40px;
    color: #ffffff;
}
